body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: burlywood;
  }
  
  .quote-container {
    position: relative;
    padding: 40px; /* Increased padding */
    max-width: 600px; /* Increased max-width */
    background-color: #fff;
    border-radius: 12px; /* Increased border-radius */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Increased box-shadow */
  }
  
  #quote,
  #author {
    font-size: 24px; /* Increased font size */
    margin-bottom: 20px; /* Increased margin */
    text-align: center;
  }
  
  .slide-in {
    animation: slide-in 0.5s ease-out forwards;
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  